/* [data-wf--global-nav-v0-2--variant="is-mobile"] */

.dev_nav {
    position: relative;
    display: flex;
    height: var(--global-nav--height);
    padding-right: 12px;
    padding-left: 12px;
    justify-content: space-between;
}

.dev_nav_menu {
    display: contents;
}

.dev_nav_menu:where(.w-variant-ca3f659e-dd85-61db-41f9-526769ceb0c8) {
    position: absolute;
    left: 0px;
    top: 100%;
    right: 0px;
    display: block;
}

.dev_nav_menu_list {
    display: contents;
}

.dev_nav_menu_list:where(.w-variant-ca3f659e-dd85-61db-41f9-526769ceb0c8) {
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 1rem;
    height: calc(100dvh - var(--global-nav--height));
    overflow-y: auto;
}

.dev_nav_menu_list_item {
    display: contents;
}

.dev_nav_menu_list_item:where(.w-variant-ca3f659e-dd85-61db-41f9-526769ceb0c8) {
    display: list-item;
}

.link-2 {
    display: flex;
    height: 100%;
    padding-right: 12px;
    padding-left: 12px;
    justify-content: center;
    align-items: center;
}

.link-2:where(.w-variant-ca3f659e-dd85-61db-41f9-526769ceb0c8) {
    font-size: 1.8rem;
}




.dev_nav_menu_list {
    display: contents;
}

.dev_nav_menu_list:where(.w-variant-ca3f659e-dd85-61db-41f9-526769ceb0c8) {
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 1rem;
    height: calc(100dvh - var(--global-nav--height));
    overflow-y: auto;
}

.dev_nav_menu_list.is-close {}

@media screen and (max-width: 991px) {
    .dev_nav_menu_list:where(.w-variant-ab9b464f-3359-90da-4246-c1fa95a1ae07) {
        display: flex;
        flex-flow: column;
        justify-content: center;
        gap: 1rem;
        height: calc(100dvh - var(--global-nav--height));
    }
}

@media screen and (max-width: 991px) {
    .dev_nav_menu_list:where(.w-variant-ca3f659e-dd85-61db-41f9-526769ceb0c8) {}
}

@media screen and (max-width: 991px) {
    .dev_nav_menu_list.is-close:where(.w-variant-ab9b464f-3359-90da-4246-c1fa95a1ae07) {
        transform: translate(-100%, 0px);
    }
}

#navLogoBig {
    display: block;
}

#navLogoSmall {
    display: none;
}

@media screen and (max-width: 350px) {
    #navLogoBig {
        display: none;
    }

    #navLogoSmall {
        display: block;
    }
}

.dev_nav_menu_list_item.faq {
    display: none;
}

@media screen and (max-width: 300px) {
    .dev_nav_btn.faq {
        display: none;
    }

    .dev_nav_menu_list_item.faq {
        display: list-item;
    }
}


/* ----- */
.global_nav_menu.is-open+.global_nav_link.is-menu {
    color: var(--_theme---global-nav--item-color-hover);
}

#navLogoBig {
    display: block;
}

#navLogoSmall {
    display: none;
}

@media screen and (max-width: 440px) {
    #navLogoBig {
        display: none;
    }

    #navLogoSmall {
        display: block;
    }
}

@media screen and (max-width: 300px) {
    .dev_nav_btn.faq {
        display: none;
    }

    .dev_nav_menu_list_item.faq {
        display: list-item;
    }
}