:root {
    --background-primary: black;
    --text-color-primary: #dedede;
    --brand: #3b82f6;
    --radius: 12px;
    --space-1: .25rem;
    --space-2: .5rem;
}

:root[data-theme="light"] {
    --background-primary: gray;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Arial';
    background-color: var(--background-primary);
    font-size: 1.1rem;
    color: var(--text-color-primary);
}

p {
    margin: unset;
}

img {
    display: block;
    width: 100%;
}

input,
button {
    font-size: inherit;
}

input {
    border: 2px solid;
    border-color: black;
    border-radius: 0.3rem;
}

button {
    padding: 4px 12px;
}

.u-font-weight-700 {
    font-weight: 700;
}

.u-display-block {
    display: block;
}

.u-display-flex {
    display: flex;
}

.u-flex-flow-column {
    flex-flow: column;
}

.u-flex-grow {
    flex-grow: 1;
}

.u-flex-no-shrink {
    flex-shrink: 0;
}

.u-gap-1rem {
    gap: 1rem;
}

.u-container-large {
    width: 100%;
    margin: auto;
    max-width: 90rem;
}

.u-mx-auto {
    margin: auto;
}

.u-my-1rem {
    margin: 1rem 0;
}

.u-mt-1rem {
    margin-top: 1rem;
}

.u-ml-small {
    margin-left: 0.5rem;
}

.u-ml-1rem {
    margin-left: 1rem;
}

.u-width-100 {
    width: 100%;
}

.u-max-width-30rem {
    max-width: 30rem;
}

.u-max-width-40rem {
    max-width: 40rem;
}

.u-position-relative {
    position: relative;
}

.u-position-absolute {
    position: absolute;
}

.u-bottom-0 {
    bottom: 0;
}

.u-left-0 {
    left: 0;
}

.u-border-radius-main {
    border-radius: 1rem;
}

.u-border-radius-0_5rem {
    border-radius: 0.5rem;
}

.image_text_label {
    position: absolute;
    left: 0.7rem;
    bottom: 0.5rem;
    color: white;
    font-size: 0.8rem;
}

.h_label_input_wrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.h_label_input_wrapper>span {
    flex-shrink: 0;
}